In [1]:
# ==========================================================
#   NYC TAXI BIG DATA + SPARK SQL – WERSJA DLA COLAB
#   (bez apt-get, bez instalacji Sparka, z użyciem wget)
# ==========================================================

# 1. (opcjonalnie) upewniamy się, że pyspark jest dostępny
#    Zwykle w Colab już jest, ale można wymusić wersję:
!pip install -q pyspark==3.5.1

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import os

# 2. Start SparkSession (Colab ma już środowisko Javy)
spark = (
    SparkSession.builder
    .appName("NYC-Taxi-Colab-Fixed")
    .getOrCreate()
)

print("Spark version:", spark.version)

# 3. Pobranie danych NYC Taxi przez HTTPS na lokalny dysk
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet"
local_path = "yellow_tripdata_2022-01.parquet"

if not os.path.exists(local_path):
    print(f"\n[DOWNLOAD] Ściągam plik z {url} ...")
    !wget -q {url} -O {local_path}
    print("[DOWNLOAD] Zakończono pobieranie.")
else:
    print("\n[DOWNLOAD] Plik już istnieje lokalnie, pomijam pobieranie.")

# 4. Wczytanie Parquet lokalnie przez Spark
print(f"\n[LOAD] Wczytuję dane z pliku: {local_path}")
df = spark.read.parquet(local_path)

print("\n=== SCHEMA ===")
df.printSchema()

print("\n=== SAMPLE (5 wierszy) ===")
df.show(5, truncate=False)

# Rejestracja jako widok SQL
df.createOrReplaceTempView("taxi")
print("\n[INFO] Zarejestrowano widok SQL: taxi")

# ==========================================================
# 5. ANALIZY SQL – BIG DATA NA PRAWDZIWYCH DANYCH
# ==========================================================



# --- SQL 1: Podstawowe metryki ---
print("\n=== SQL 1: Podstawowe metryki (liczba kursów, średnia kwota, suma) ===")
spark.sql("""
    SELECT
        COUNT(*) AS total_trips,
        AVG(total_amount) AS avg_total_amount,
        SUM(total_amount) AS total_revenue
    FROM taxi
""").show()

# --- SQL 2: TOP 10 stref (PULocationID) wg przychodu ---
print("\n=== SQL 2: TOP 10 stref (PULocationID) wg przychodu ===")
spark.sql("""
    SELECT
        PULocationID AS zone,
        COUNT(*) AS trips,
        SUM(total_amount) AS revenue
    FROM taxi
    GROUP BY PULocationID
    ORDER BY revenue DESC
    LIMIT 10
""").show()

# --- SQL 3: Dzienne przychody i liczba kursów ---
print("\n=== SQL 3: Dzienne przychody i liczba kursów ===")
spark.sql("""
    SELECT
        DATE(tpep_pickup_datetime) AS day,
        COUNT(*) AS trips,
        ROUND(AVG(total_amount), 2) AS avg_amount,
        ROUND(SUM(total_amount), 2) AS revenue
    FROM taxi
    GROUP BY DATE(tpep_pickup_datetime)
    ORDER BY day
""").show()

# --- SQL 4: Najdroższe kursy w przeliczeniu na kilometr (anomalie / fraud) ---
print("\n=== SQL 4: Najdroższe kursy w przeliczeniu na kilometr (cost_per_km) ===")
spark.sql("""
    SELECT
        tpep_pickup_datetime,
        tpep_dropoff_datetime,
        passenger_count,
        trip_distance,
        total_amount,
        ROUND(total_amount / trip_distance, 2) AS cost_per_km
    FROM taxi
    WHERE trip_distance > 0
      AND total_amount > 0
    ORDER BY cost_per_km DESC
    LIMIT 20
""").show(truncate=False)

# --- SQL 5: Rozkład liczby kursów i średnich cen po godzinach ---
print("\n=== SQL 5: Rozkład liczby kursów i średnich kwot wg godzin ===")
spark.sql("""
    SELECT
        HOUR(tpep_pickup_datetime) AS hour,
        COUNT(*) AS trips,
        ROUND(AVG(total_amount), 2) AS avg_amount
    FROM taxi
    GROUP BY HOUR(tpep_pickup_datetime)
    ORDER BY hour
""").show()

# --- SQL 6: Średnia cena i dystans w zależności od liczby pasażerów ---
print("\n=== SQL 6: Średnia cena i dystans wg liczby pasażerów ===")
spark.sql("""
    SELECT
        passenger_count,
        COUNT(*) AS trips,
        ROUND(AVG(total_amount), 2) AS avg_price,
        ROUND(AVG(trip_distance), 2) AS avg_distance
    FROM taxi
    GROUP BY passenger_count
    ORDER BY passenger_count
""").show()

# --- SQL 7: Kursy „podejrzanie drogie” (prosta heurystyka) ---
print("\n=== SQL 7: Podejrzanie drogie kursy (fraud heurystyka) ===")
spark.sql("""
    SELECT
        tpep_pickup_datetime,
        tpep_dropoff_datetime,
        passenger_count,
        trip_distance,
        total_amount
    FROM taxi
    WHERE total_amount > 200
       OR (total_amount > 100 AND trip_distance < 2)
    ORDER BY total_amount DESC
    LIMIT 20
""").show(truncate=False)

print("\n[DONE] Demo NYC Taxi + Spark SQL w Colab zakończone ✔")

Spark version: 3.5.1

[DOWNLOAD] Ściągam plik z https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet ...
[DOWNLOAD] Zakończono pobieranie.

[LOAD] Wczytuję dane z pliku: yellow_tripdata_2022-01.parquet

=== SCHEMA ===
root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)


=== SAMPLE (5 wierszy) ===
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|1       |2022-01-01 00:35:40 |2022-01-01 00:53:29  |2.0            |3.8          |1.0       |N                 |142         |236         |1           |14.5       |3.0  |0.5    |3.65      |0.0         |0.3                  |21.95       |2.5                 |0.0        |
|1       |2022-01-01 00:33:43 |2022-01-01 00:42:07  |1.0            |2.1          |1.0       |N                 |236         |42          |1           |8.0        |0.5  |0.5    |4.0       |0.0         |0.3                  |13.3        |0.0                 |0.0        |
|2       |2022-01-01 00:53:21 |2022-01-01 01:02:19  |1.0            |0.97         |1.0       |N                 |166         |166         |1           |7.5        |0.5  |0.5    |1.76      |0.0         |0.3                  |10.56       |0.0                 |0.0        |
|2       |2022-01-01 00:25:21 |2022-01-01 00:35:23  |1.0            |1.09         |1.0       |N                 |114         |68          |2           |8.0        |0.5  |0.5    |0.0       |0.0         |0.3                  |11.8        |2.5                 |0.0        |
|2       |2022-01-01 00:36:48 |2022-01-01 01:14:20  |1.0            |4.3          |1.0       |N                 |68          |163         |1           |23.5       |0.5  |0.5    |3.0       |0.0         |0.3                  |30.3        |2.5                 |0.0        |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows


[INFO] Zarejestrowano widok SQL: taxi

=== SQL 1: Podstawowe metryki (liczba kursów, średnia kwota, suma) ===
+-----------+-----------------+-------------------+
|total_trips| avg_total_amount|      total_revenue|
+-----------+-----------------+-------------------+
|    2463931|19.16937009586583|4.723200522967679E7|
+-----------+-----------------+-------------------+


=== SQL 2: TOP 10 stref (PULocationID) wg przychodu ===
+----+------+------------------+
|zone| trips|           revenue|
+----+------+------------------+
| 132|103485| 5972500.769995555|
| 138| 59260|2501707.3200005977|
| 236|120814|1833107.4700014123|
| 237|121630|1752769.0900014378|
| 161| 88237| 1431161.470000892|
| 107| 59769|1349508.4500009532|
| 186| 80580| 1345834.680000851|
|  48| 77003|1279867.8100007535|
| 142| 80187|1247694.7900007025|
| 230| 68814| 1230584.840000641|
+----+------+------------------+


=== SQL 3: Dzienne przychody i liczba kursów ===
+----------+-----+----------+----------+
|       day|trips|avg_amount|   revenue|
+----------+-----+----------+----------+
|2008-12-31|    6|     24.47|    146.82|
|2009-01-01|    8|     24.17|    193.35|
|2021-12-31|   24|     18.23|     437.5|
|2022-01-01|63441|     20.97|1330638.29|
|2022-01-02|58421|     22.76|1329446.47|
|2022-01-03|72405|     20.91|1513871.22|
|2022-01-04|74562|      19.8|1476121.01|
|2022-01-05|74592|     19.35|1443025.39|
|2022-01-06|79909|     18.64|1489668.14|
|2022-01-07|71590|     23.92|1712217.66|
|2022-01-08|83177|      18.5|1538964.97|
|2022-01-09|64014|     20.02| 1281540.9|
|2022-01-10|73692|     18.82|1387224.21|
|2022-01-11|77603|     17.98|1395534.42|
|2022-01-12|80352|     18.22|1463859.49|
|2022-01-13|84952|     18.57|1577437.97|
|2022-01-14|93817|      18.9|1773525.23|
|2022-01-15|88704|     18.13|1608275.65|
|2022-01-16|72783|     18.99|1381919.28|
|2022-01-17|63518|     20.39|1294964.35|
+----------+-----+----------+----------+
only showing top 20 rows


=== SQL 4: Najdroższe kursy w przeliczeniu na kilometr (cost_per_km) ===
+--------------------+---------------------+---------------+-------------+------------+-----------+
|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|total_amount|cost_per_km|
+--------------------+---------------------+---------------+-------------+------------+-----------+
|2022-01-07 11:36:43 |2022-01-07 11:47:12  |1.0            |3.3          |401095.62   |121544.13  |
|2022-01-28 20:00:01 |2022-01-28 20:00:53  |1.0            |0.01         |222.96      |22296.0    |
|2022-01-05 06:55:11 |2022-01-05 06:56:27  |2.0            |0.01         |211.8       |21180.0    |
|2022-01-08 17:39:57 |2022-01-08 17:42:40  |1.0            |0.01         |164.8       |16480.0    |
|2022-01-30 14:36:44 |2022-01-30 14:36:45  |1.0            |0.01         |144.12      |14412.0    |
|2022-01-16 22:49:46 |2022-01-16 22:49:49  |1.0            |0.01         |135.8       |13580.0    |
|2022-01-30 16:04:55 |2022-01-30 16:05:18  |1.0            |0.01         |132.36      |13236.0    |
|2022-01-04 08:09:43 |2022-01-04 08:10:01  |2.0            |0.01         |131.76      |13176.0    |
|2022-01-17 20:21:15 |2022-01-17 20:21:20  |1.0            |0.01         |130.3       |13030.0    |
|2022-01-27 17:13:22 |2022-01-27 17:13:32  |1.0            |0.01         |127.56      |12756.0    |
|2022-01-02 16:26:23 |2022-01-02 16:26:28  |1.0            |0.01         |120.36      |12036.0    |
|2022-01-24 00:40:29 |2022-01-24 00:41:58  |1.0            |0.01         |120.36      |12036.0    |
|2022-01-30 11:07:31 |2022-01-30 11:07:34  |2.0            |0.01         |120.3       |12030.0    |
|2022-01-04 17:54:38 |2022-01-04 17:54:41  |1.0            |0.01         |114.36      |11436.0    |
|2022-01-07 11:31:05 |2022-01-07 11:31:10  |4.0            |0.01         |111.96      |11196.0    |
|2022-01-30 15:14:53 |2022-01-30 15:14:59  |1.0            |0.01         |110.0       |11000.0    |
|2022-01-01 19:04:27 |2022-01-01 19:08:34  |4.0            |0.01         |100.3       |10030.0    |
|2022-01-18 10:18:25 |2022-01-18 10:18:29  |1.0            |0.01         |100.3       |10030.0    |
|2022-01-02 17:31:57 |2022-01-02 17:32:12  |2.0            |0.01         |98.8        |9880.0     |
|2022-01-19 15:50:23 |2022-01-19 15:51:42  |1.0            |0.01         |96.96       |9696.0     |
+--------------------+---------------------+---------------+-------------+------------+-----------+


=== SQL 5: Rozkład liczby kursów i średnich kwot wg godzin ===
+----+------+----------+
|hour| trips|avg_amount|
+----+------+----------+
|   0| 60065|     20.72|
|   1| 42313|     19.67|
|   2| 29193|     18.95|
|   3| 19308|     19.58|
|   4| 12828|     22.15|
|   5| 14443|     25.38|
|   6| 36206|     21.79|
|   7| 74137|     18.86|
|   8|101528|     18.27|
|   9|109376|     17.84|
|  10|119816|     17.83|
|  11|129561|     20.56|
|  12|142216|     17.62|
|  13|147878|     18.28|
|  14|163858|     18.92|
|  15|174416|     19.06|
|  16|168564|     19.79|
|  17|176701|     19.39|
|  18|177696|     18.65|
|  19|151346|     18.93|
+----+------+----------+
only showing top 20 rows


=== SQL 6: Średnia cena i dystans wg liczby pasażerów ===
+---------------+-------+---------+------------+
|passenger_count|  trips|avg_price|avg_distance|
+---------------+-------+---------+------------+
|           NULL|  71503|    24.02|       81.43|
|            0.0|  52061|    17.76|        2.75|
|            1.0|1794055|    18.76|        3.02|
|            2.0| 343026|    20.36|         3.5|
|            3.0|  84570|    19.82|        3.34|
|            4.0|  35321|    20.65|        3.49|
|            5.0|  51338|    18.39|        3.01|
|            6.0|  32037|    18.88|        3.15|
|            7.0|      9|     71.6|        0.79|
|            8.0|      8|    83.91|        0.51|
|            9.0|      3|    70.73|        9.51|
+---------------+-------+---------+------------+


=== SQL 7: Podejrzanie drogie kursy (fraud heurystyka) ===
+--------------------+---------------------+---------------+-------------+------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|total_amount|
+--------------------+---------------------+---------------+-------------+------------+
|2022-01-07 11:36:43 |2022-01-07 11:47:12  |1.0            |3.3          |401095.62   |
|2022-01-29 02:23:46 |2022-01-29 02:32:06  |1.0            |1.32         |899.68      |
|2022-01-20 17:53:58 |2022-01-20 17:54:04  |1.0            |0.0          |722.8       |
|2022-01-02 23:23:27 |2022-01-03 03:54:44  |5.0            |254.88       |688.35      |
|2022-01-23 12:07:11 |2022-01-23 16:14:46  |1.0            |257.7        |683.1       |
|2022-01-14 06:59:50 |2022-01-14 11:30:02  |2.0            |252.04       |662.85      |
|2022-01-21 11:18:36 |2022-01-21 11:19:08  |1.0            |0.0          |645.96      |
|2022-01-27 09:57:54 |2022-01-27 12:41:28  |1.0            |184.69       |643.1       |
|2022-01-06 17:59:37 |2022-01-06 20:09:24  |1.0            |118.64       |607.97      |
|2022-01-21 10:56:24 |2022-01-21 13:05:48  |1.0            |172.13       |599.6       |
|2022-01-29 11:32:16 |2022-01-29 14:39:19  |1.0            |129.02       |598.56      |
|2022-01-04 16:45:50 |2022-01-04 18:25:27  |1.0            |96.06        |568.11      |
|2022-01-30 01:01:47 |2022-01-30 03:22:27  |1.0            |115.1        |560.26      |
|2022-01-26 21:33:51 |2022-01-26 23:25:23  |1.0            |92.52        |554.01      |
|2022-01-27 14:36:44 |2022-01-27 14:36:52  |3.0            |0.0          |514.13      |
|2022-01-28 21:40:07 |2022-01-28 23:58:08  |0.0            |125.1        |508.1       |
|2022-01-01 06:07:18 |2022-01-01 06:07:53  |1.0            |1.03         |502.3       |
|2022-01-15 13:39:28 |2022-01-15 15:13:03  |1.0            |92.39        |496.55      |
|2022-01-18 17:09:34 |2022-01-18 20:00:03  |1.0            |144.85       |486.85      |
|2022-01-05 08:14:23 |2022-01-05 08:14:48  |3.0            |0.0          |480.8       |
+--------------------+---------------------+---------------+-------------+------------+


[DONE] Demo NYC Taxi + Spark SQL w Colab zakończone ✔